.loginCard {
    max-width: 320px;
}
.contenedorLogin{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

.botonLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Farro', sans-serif;
}

.temaBtnLogin{
    background-color:#453b1a;
    color: white;
    font-family: 'Farro', sans-serif;
}

.errorValidacion {
    margin-top: 5px;
    color: #9e7b00;
}