.tipoLetra{
    font-family: 'Farro', sans-serif;
}

.botonLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Farro', sans-serif;
}

.temaBtnLogin{
    background-color:#453b1a;
    color: white;
    font-family: 'Farro', sans-serif;
}