<div>
  <app-navigation-header></app-navigation-header>
</div>

<div class="container w-100 p-0">
  <div class="row mt-4">
    <div class="col-sm-12">
      <h3 class="text-center tipoLetra">Términos Legales de MoneyApp</h3>
      <p class="mt-3">Para usar nuestro página web y / o recibir nuestros servicios, debes tener al menos 18 años de
        edad, o la mayoría de edad legal en tu jurisdicción, y poseer la autoridad legal, el derecho y la libertad para
        participar en estos Términos como un acuerdo vinculante. No tienes permitido utilizar esta página web y / o
        recibir servicios si hacerlo está prohibido en tu país o en virtud de cualquier ley o regulación aplicable a tu
        caso.</p>
      <p>Al comprar un artículo, aceptas que: (1) eres responsable de leer el listado completo del artículo antes de
        comprometerte a comprarlo: (2) celebras un contrato legalmente vinculante para comprar un artículo cuando te
        comprometed a comprar un artículo y completar el proceso de check-out.

        Los precios que cobramos por usar nuestros servicios / para nuestros productos se enumeran en la página web. Nos
        reservamos el derecho de cambiar nuestros precios para los productos que se muestran en cualquier momento y de
        corregir los errores de precios que pueden ocurrir inadvertidamente. Información adicional sobre precios e
        impuestos sobre las ventas está disponible en la página de pagos.

        "La tarifa por los servicios y cualquier otro cargo que pueda incurrir en relación con tu uso del servicio, como
        los impuestos y las posibles tarifas de transacción, se cobrarán mensualmente a tu método de pago.</p>
      <p>Podemos, sin aviso previo, cambiar los servicios; dejar de proporcionar los servicios o cualquier
        característica de los servicios que ofrecemos; o crear límites para los servicios. Podemos suspender de manera
        permanente o temporal el acceso a los servicios sin previo aviso ni responsabilidad por cualquier motivo, o sin
        ningún motivo.</p>
      <p>Podemos terminar o suspender de manera permanente o temporal tu acceso al servicio sin previo aviso y
        responsabilidad por cualquier razón, incluso si a nuestra sola determinación tu violas alguna disposición de
        estos Términos o cualquier ley o regulación aplicable. Puedes descontinuar el uso y solicitar cancelar tu cuenta
        y / o cualquier servicio en cualquier momento. Sin perjuicio de lo contrario en lo que antecede, con respecto a
        las suscripciones renovadas automáticamente a los servicios pagados, dichas suscripciones se suspenderán solo al
        vencimiento del período correspondiente por el que ya has realizado el pago.</p>
    </div>
    

  </div>
  <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2 mb-3">
      <button mat-stroked-button color="primary" class="temaBtnLogin" (click)="volver()">Volver</button>
    </div>
  </div>
</div>
