<app-navigation-header></app-navigation-header>
<div class="contenedorLogin">
    <mat-card class="loginCard mb-4">
        <mat-card-header class="botonLogin">
            <mat-card-title>Actualiza tus datos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="updateRegistroForm">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Tu nombre de usuario" formControlName="username">
                    <ng-container *ngIf="updateRegistroForm.controls.username.errors != undefined">
                        <div class="errorValidacion" *ngIf="updateRegistroForm.controls.username.errors.required">Debes introducir algún valor
                        </div>
                        <div class="errorValidacion" *ngIf="updateRegistroForm.controls.username.errors.minlength">Debe tener al menos 5
                            caracteres</div>
                    </ng-container>
                   
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Tu nombre de usuario" formControlName="email">
                    <ng-container *ngIf="updateRegistroForm.controls.email.errors != undefined">
                        <div class="errorValidacion" *ngIf="updateRegistroForm.controls.email.errors.required">Debes introducir una email
                        </div>
                        <div class="errorValidacion" *ngIf="updateRegistroForm.controls.email.errors.email">Debe tener formato de email
                            </div>
                    </ng-container>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput  placeholder="Tu contraseña" formControlName="password">
                    <ng-container *ngIf="updateRegistroForm.controls.password.errors != undefined">
                        <div class="errorValidacion" *ngIf="updateRegistroForm.controls.password.errors.required">Debes introducir una contraseña
                        </div>
                    </ng-container>
                </mat-form-field>
                <mat-card-actions class="botonLogin">
                    <button mat-stroked-button color="primary" [disabled]="updateRegistroForm.invalid" class="temaBtnLogin" (click)="updateDatos()">Modificar</button>
                    <button mat-stroked-button color="primary" class="temaBtnLogin" (click)="volverAlosCometidos()">Volver</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
       
    </mat-card>
</div>