
.tipoLetra{
    
    font-family: 'Farro', sans-serif;
}
mat-form-field {
    width: 100%;
}

.loginCard {
    max-width: 320px;
    
}

.botonLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Farro', sans-serif;
}
.contenedorLogin{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.temaBtnLogin{
    background-color:#453b1a;
    color: white;
    font-family: 'Farro', sans-serif;
}