.sizeBottonDelete{
    width: 5px;
}

.colorButtonDelete{
    color: red;
}

.tipoLetra{
    
    font-family: 'Farro', sans-serif;
}

.temaHeader{
   
    color: #453b1a;
    font-family: 'Farro', sans-serif;
}
table {
    width: 100%;
    
  }