.example-spacer{
    flex: 1 1 auto;
}

.colorMenuButton{

    color: #fff;
}

.mat-toolbar.mat-primary {
    background: #362c10;
    color: #fff;
  }

span.tipoLetra{
    
    font-family: 'Paprika', cursive;
}