.tipoLetra{
    font-family: 'Paprika', cursive;
}

.temaBtnPago{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Paprika', cursive;
    background-color:#9e7b00;
    color: white;
}
.temaDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}