/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url('https://image.freepik.com/foto-gratis/grunge-fondo-papel-pintado-textura-hormigon-concepto_53876-31757.jpg'); }